img {
  height: auto;
  width: 100%;
}

/***************** Mobil ************************************************************************************************************************/

/* hero styling */

.hero_section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.hero_section .bg_grid {
  grid-column: 1/2;
  grid-row: 1/2;
}

.hero_section .blobs {
  border-radius: 0 0 0 0;
}

.hero_section .pic {
  display: none;
}

.hero_text {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-block: 4rem;

  color: white;
  text-align: center;
  padding: 1rem;
  z-index: 20;
}

/* bullets */

.bullet {
  text-align: center;
  padding: 2rem;
}

.number {
  color: var(--numbers-highlight-color);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxxl);
  font-family: "montserrat", serif;
}

.bullet_enhed {
  font-size: var(--font-size-xl);
  font-family: "montserrat", serif;
  color: var(--numbers-highlight-color);
  font-weight: var(--font-weight-medium);
}

.enhed_contaiener {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section 1, 2 & 3 styling  */

.text_container {
  margin-inline: 10%;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

/* button {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
} */

article {
  margin-inline: 10%;
  margin-bottom: 1rem;
}

/* kontakt info styling*/
.section_4 {
  color: white;
}

.info_bullet {
  margin-inline: 10%;
  margin-bottom: 1rem;
}

.info_bullet button {
  width: 9rem;
  margin-block: 0.5rem;
}

.info_bullet_wrapper {
  margin-bottom: 3rem;
}

.section_4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr;
}

.section_4 .blobs {
  border-radius: 0;
}
.section_4 .bg_grid {
  grid-column: 1/2;
  grid-row: 1/3;
}

.section_4 article {
  z-index: 20;
  grid-column: 1/2;
  grid-row: 1/2;
}

.section button {
  margin-block: 1rem;
}

.section_4 h5,
.section_4 h3,
.Info_title {
  color: var(--white);
}

.Info_title {
  text-align: center;
  padding-top: 2rem;
}

iframe {
  max-width: 80%;
}

#kort {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#kort p {
  color: var(--white);
  font-size: var(--font-size-base);
  padding-block: 1rem;
  text-align: center;
}

.info_wrapper {
  display: grid;
  justify-content: center;
  z-index: 20;
  grid-column: 1/2;
  grid-row: 2/3;
}

/***************** Tablet ************************************************************************************************************************/
@media (min-width: 700px) {
  .hero_section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .hero_section .bg_grid {
    grid-column: 1/4;
    grid-row: 1/3;
  }

  .hero_section article {
    margin-inline: unset;
    margin-bottom: 0;
  }
  .hero_text {
    grid-row: 1/2;
    text-align: unset;
    align-self: end;
    justify-self: center;
    margin-block: 0;
    padding: 0;
  }

  .hero_section .pic {
    display: block;
    z-index: 10;
    grid-column: 2/4;
    grid-row: 1/3;
    align-self: center;
    margin: 3rem;
  }

  .section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section_1 p {
    height: 14rem;
  }

  .bullets_wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  .section_3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section_3 p {
    height: 10rem;
  }

  iframe {
    max-width: 100%;
  }
}
/************************************************************* Desktop styling ******************************************************/
@media (min-width: 1000px) {
  .hero_section .pic {
    width: 60%;
    justify-self: center;
  }

  .info_wrapper {
    grid-template-columns: 1fr 1fr;
    padding-inline: 5%;
    align-items: center;
    padding-top: 2rem;
  }

  #kort p {
    font-size: var(--font-size-sm);
  }
}
