

#cases_header {
  margin-block: 2rem;
}

#cases_header .text_container {
    margin-inline: 10%;

}

#cases_header h4 {
  margin: 2rem 0;
  
}

#cases_header img {
  max-width: 15rem;
  max-height: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#cases_content {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.case {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
  max-width: 24rem;
  min-width: 22rem;
  margin-bottom: 1.5rem;
  flex-grow: 1;
}

.img_case_text {
  position: absolute;
  display: none;
  text-align: center;
  transition: 1s all;
  z-index: 1;
  max-width: 40%;
}
.img_case_text h5 {
  color: var(--white);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}
.img_case_text h6 {
  color: var(--white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  font-family: "montserrat", serif;
  max-width: 20rem;

}

.case_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .......... Card hover................ */

.case:hover {
  box-shadow: 7px 7px 10px 1px rgba(122, 120, 120, 0.25);
}

.case:hover .img_case_text {
  display: block;
}

.case:hover img {
  filter: brightness(55%);
  scale: 1.05;
}

/* .......... Card hover slut ................ */

.case img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: 0.3s all;
}

.case_text {
  padding: 1.5rem;
}

.case_text h5 {
  font-weight: var(--font-weight-medium);
  color: var(--black);
  font-style: italic;
  font-size: var(--font-size-base);
}

.case_text .sub_text {
  color: var(--light-gray);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);  
  font-family: "montserrat", serif;

  text-align: right;
  margin-block: 1rem;
}

.numbers_section {
  display: flex;
  justify-content: space-evenly;
  padding-block: 2rem;
}

.numbers_section .highlight {
  font-size: var(--font-size-lg);
  color: var(--dark-blue);
  font-style: normal;
}

.numbers_section h5:last-child {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-style: normal;
}
/* .......... Card Button ................ */

.read_more_case {
  margin-top: 0.6rem;
  padding: 10px 0;
  color: var(--blue);
  background: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  border: none;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

.read_more_case:after {
  display: inline-block;
  padding-left: 8px;
  content: "\0279E";
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.read_more_case:hover::after {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
}

/* .......... Cases UI................ */
.cases_ui {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1.2rem;
}

.cases_ui > span {
  font-size: 1.3rem;
  border-radius: 50%;
  border: 1px solid var(--black);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cases_pages {
  display: flex;
  gap: 0.5rem;
}

.cases_pages > div {
  width: 2rem;
  height: 2rem;

  padding: 0.3rem;
  text-align: center;
}

.active_page {
  background-color: #eeeeee;
  border: 1px solid #000;
}

/* .......... Cases UI slut................ */

@media (min-width: 700px) {
  #cases_header img {
    max-width: 30rem;
    max-height: 30rem;
  }

  #cases_header {
      display: grid;
      grid-template-columns: 3% 2fr 1fr;
      grid-template-rows: auto;
      justify-content: center;
      align-items: center;
  
  }
  
  #cases_header .text_container{
  /* max-width: 38rem; */
  grid-column: 2/3;
  grid-row: 1/2;
  margin-inline:10%;
  }
  
  #cases_header .bg_grid {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    height: 26rem;
    margin-block: 1rem;
  }


  .numbers_section h5:last-child {
    font-size: 0.7rem;
  }

  .img_case_text {
    max-width: 30%;
  }
}
