img {
  height: auto;
  width: 100%;
}

.section_1 {
  margin-top: 2rem;
}

.text_container {
  margin-inline: 10%;
  margin-bottom: 1rem;
}

.section_1 h1 {
  margin-bottom: 1rem;
}

.section_1 .bg_pic_container {
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  margin-left: 1rem;
}

.section_1 .bg_grid {
  grid-column: 2/5;
  grid-row: 1/4;
}

.section_1 .pic {
  grid-column: 1/5;
  grid-row: 2/3;
  z-index: 1;
  align-self: center;
}

.section_1 .pic img {
  width: 70%;
}

h2 {
  margin-bottom: 1rem;
}

.text_container p:nth-child(2) {
  margin-bottom: 1rem;
}



.bg_pic_container p {
  font-size: var(--font-size-md);
  color: var(--white);
  font-family: "montserrat", serif;
}


  
.section_2 .blobs {
    border-radius: 0 25px 25px 0;
}

.section_2 .bg_pic_container {
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr;
  grid-template-rows: 3rem 1fr 3fr;
  margin-right: 1rem;
}

.section_2 .bg_grid {
  grid-column: 1/5;
  grid-row: 1/4;
}

.section_2 .bg_pic_container p{
  grid-column: 2/5;
  grid-row: 2/3;
  z-index: 1;
}
.section_2 .pic {
  grid-column: 2/5;
  grid-row: 3/4;
  z-index: 1;
  width: 50%;
  height: 50%;
  justify-self: center;
}

.section_3 ul {
  margin-block: 1.5rem;
}

.section_3 ul li {
  margin-block: 0.6rem;
  color: var(--dark-gray);
}

.section_3 .bg_pic_container {
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 3rem;
  margin-left: 1rem;
}

.section_3 .bg_grid {
  grid-column: 1/5;
  grid-row: 1/4;
}

.section_3 .bg_pic_container p{
  grid-column: 2/5;
  grid-row: 1/2;
  z-index: 1;
  align-self: center;
}
.section_3 .pic {
  grid-column: 2/5;
  grid-row: 2/3;
  z-index: 1;
  width: 50%;
  height: 50%;
  justify-self: center;
}



  
.section_4 .blobs {
    border-radius: 0 25px 25px 0;
}

.section_4 .bg_pic_container {
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr;
  grid-template-rows: 3rem 1fr 3fr;
  margin-right: 1rem;
}

.section_4 .bg_grid {
  grid-column: 1/5;
  grid-row: 1/4;
}

.section_4 .bg_pic_container p{
  grid-column: 2/5;
  grid-row: 2/3;
  z-index: 1;
}
.section_4 .pic {
  grid-column: 2/5;
  grid-row: 3/4;
  z-index: 1;
  width: 50%;
  height: 50%;
  justify-self: center;
}

/* .section_4 .bg_pic_container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-right: 1rem;
}

.section_4 .bg_grid {
  grid-column: 1/4;
  grid-row: 1/4;
}

.section_4 .bg_pic_container p{
  grid-column: 1/3;
  grid-row: 2/3;
  z-index: 1;
  margin-left: 2.5rem;
} */



.section_5 .bg_pic_container {
  display: grid;
  grid-template-columns: 2rem 1fr 3rem;
  grid-template-rows: 3rem 1fr 3rem;
  margin-left: 1rem;
}

.section_5 .bg_grid {
  grid-column: 2/4;
  grid-row: 1/4;
}

.section_5 .bg_pic_container iframe{
  grid-column: 1/3;
  grid-row: 2/3;
  z-index: 1;
}

iframe {
  width: 100%;
  height: auto;
}

main a {
  color: inherit;
  text-decoration: underline;
}

.partnere_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.partnere_container img {
  max-width: 5rem;
}

.partnere_btn_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

/************************************************************* Tablet styling ******************************************************/


@media (min-width: 700px) {
  .section_1 {
    display: grid;
    grid-template-columns: 3% 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .section_1 .bg_pic_container {
    margin-left: 4rem;
  }

  .section_1 .text_container {
    grid-column: 2;
  }

  .section_1 .pic img {
    width: 100%;
  }

  .section_2 .bg_pic_container {
    grid-row:1/2;
    margin-right: 4rem;
  }

 .section_2 {
    display: grid;
    grid-template-columns: 1fr 3% 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  
  .section_2 .text_container {
    grid-column: 3;
  }



  .section_3 {
    display: grid;
    grid-template-columns: 3% 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

 
  .section_3 .bg_pic_container {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: 4rem;
  }

  .section_3 .bg_pic_container p {
    grid-row: 1/2;
  }

  .section_3 .text_container {
    grid-column: 2;
    grid-row: 1/2;
  }



  .section_4 {
    display: grid;
    grid-template-columns: 1fr 3% 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .section_4 .text_container {
    grid-column: 3;
  }

  .section_4 .bg_pic_container {
    grid-row:1/2;

    margin-right: 4rem;
  }


  
  
  .section_5 {
    display: grid;
    grid-template-columns: 3% 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  .section_5 .text_container {
    grid-column: 2;
  }

  iframe {
    height:revert-layer;
  }
  .partnere_container img {
    min-width: 10rem;
    max-width: 15rem;
  }

  .partnere_btn_container {
    gap: 3rem;
  }
}

/************************************************************* Desktop styling ******************************************************/


@media (min-width: 1000px) {
/* 
  .section_1 .bg_grid {
    grid-column: 2/4;
  }

  .section_1 .pic {
    grid-column: 2/4;
    max-width: 60%;
    justify-self: center;
  }

  .pic {
    max-width: 80%;
  } */


  /* .section_2 .bg_pic_container {
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 2rem 1fr 1fr 1fr 2rem;
    margin-right: 0;
  }

  .section_2 .bg_grid {
    grid-column: 1/4;
    grid-row: 1/5;
  }

  .section_2 .pic {
    grid-column: 2/5;
    grid-row: 3/6;
    justify-self: end;
  }

  .section_2 .bg_pic_container p {
    grid-column: 2/4;
    grid-row: 2/3;
    margin-left:0;
    align-self: center;
    max-width: 85%;
  }

 */


  /* .section_3 .bg_pic_container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1rem;
    margin-left: 0;
  }

  .section_3 .bg_grid {
    grid-column: 2/5;
    grid-row: 1/6;
  }

  .section_3 .pic {
    grid-column:1/3;
    grid-row: 2/4;
    justify-self: end;
  }

  .section_3 .bg_pic_container p {
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    margin-left: 0;
    max-width: unset;
  } */



  /* .section_4 .bg_pic_container {
    grid-template-columns: 1fr 2fr 2fr 2rem;
    grid-template-rows: 2rem 1fr 2fr 2fr 2rem;
    margin-right: 0;
  }

  .section_4 .bg_grid {
    grid-column: 1/4;
    grid-row: 1/6;
  }

  .section_4 .pic {
    grid-column: 2/5;
    grid-row: 3/5;
    justify-self: start;
    max-width: unset;
  }

  .section_4 .bg_pic_container p {
    grid-column: 2/4;
    grid-row: 2/3;
    margin-left:0;
    align-self: center;
    max-width: 85%;
  }
 */





}