img {
  height: auto;
  width: 100%;
}

/***************** Mobil ************************************************************************************************************************/

/* hero styling */

.hero_section {
  margin-left: 1rem;
  margin-block: 2rem;
}

.hero_text h1 {
  margin-bottom: 1rem;
}
.hero_top_content {
  display: flex;
  margin-bottom: 1rem;
}

/* Desktop hero img, gets a display: block on tablet & desktop view */
.hero_test {
  display: none;
}

.header_highlight {
  color: var(--header-highlight-color);
}

.hero_section .data_bullets {
  display: grid;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.hero_section .data_bullets_wrapper {
  display: flex;
  gap: 2.5rem;
}

.data_bullets_wrapper h4 {
  color: var(--numbers-highlight-color);
}

.vertical_line {
  display: inline-block;
  border-left: 1px solid gainsboro;
}

.hero_buttons {
  display: grid;
  justify-content: center;
  margin-bottom: 2rem;
}

.hero_buttons_wrapper {
  display: flex;
  gap: 3rem;
}

/* Section 1, 2 & 3 styling  */

.text_container {
  margin-inline: 10%;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

/* section 1 */

.section_1 .bg_pic_container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-left: 2rem;
}

.section_1 .bg_grid {
  grid-column: 1/5;
  grid-row: 2/5;
}

.section_1 .pic {
  grid-column: 2/4;
  grid-row: 1/4;
  z-index: 1;
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
}

/* Section 2 */
.section_2 .blobs {
  border-radius: 0 25px 25px 0;
}

.section_2 .bg_pic_container {
  display: grid;
  grid-template-columns: 1fr 2rem;
  grid-template-rows: 2rem 1fr 2rem;
  margin-right: 5rem;
  max-width: 70%;
}

.section_2 .bg_grid {
  grid-column: 1/3;
  grid-row: 1/4;
}

.section_2 .bg_pic_container .pic {
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 1;
  justify-self: end;
}

.section_2 p {
  margin-bottom: 1rem;
}

.section_button {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
}

/* section 3 styling */

.bullets h3 {
  margin-left: 10%;
  margin-bottom: 1rem;
}

.section_3 .data_bullet_container {
  margin-inline: 10%;
}

.bullets,
.number {
  color: var(--numbers-highlight-color);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-xxxl);
  font-family: "montserrat", serif;
}

.procent_tegn {
  font-size: var(--font-size-xl);
  font-family: "montserrat", serif;
  color: inherit;
}

.procent_container {
  display: flex;
  align-items: center;
}

.data_bullet_container {
  margin-bottom: 1rem;
}

/* Kunde banner  */

.kunde_banner {
  position: relative;
  overflow: hidden;
  height: 4rem;
  margin-block: 4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 20%);
}
.kunde_banner img {
  height: 2rem;
  width: auto;
}
.banner_wrapper img:hover {
  transform: scale(1.2);
  transition: transform 0.25s;
}
.banner_wrapper {
  display: flex;
  gap: 2rem;
  width: 12rem;
}

.banner {
  position: absolute;
  display: flex;

  animation-name: banner_infinite;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 17px;
}

.banner:hover {
  animation-play-state: paused;
}

@keyframes banner_infinite {
  0% {
    left: 0;
  }

  100% {
    left: -200%;
  }
}

@media (min-width: 700px) {
  .kunde_banner img {
    height: 4rem;
    width: auto;
  }
  .kunde_banner {
    height: 6rem;
  }
  .banner_wrapper {
    gap: 8rem;
  }
  .banner {
    animation-duration: 40s;
  }
}

/***************** Tablet ************************************************************************************************************************/

@media (min-width: 700px) {
  

  /* Hero section */

  .hero_text h1 {
    margin-bottom: 2rem;
    max-width: 72%;
  }



  /* Mobil hero img, gets a display: none on tablet & desktop view */
  .hero_pic_mobile {
    display: none;
  }

  .hero_section .bg_grid {
    grid-column: 4/6;
    grid-row: 1/4;
  }

  .hero_test {
    display: block;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1 / 6;
    z-index: 1;
    align-self: end;
    max-width: 19rem;
    justify-self: center;
  }

  .hero_section .bg_grid {
    grid-column: 4/6;
    grid-row: 1/4;
  }

  .hero_test {
    display: block;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1 / 6;
    z-index: 1;
    align-self: end;
    max-width: 19rem;
    justify-self: center;
  }

  .hero_section {
    display: grid;
    grid-template-columns: 3% 3fr 1fr 1fr 1fr;
    grid-template-rows: 3fr;
    gap: 0.5rem;
    margin-left: 0;
  }

  .section_button {
    margin: 0;
    justify-content: unset;
    display: unset;
  }

  .hero_top_content {
    grid-row: 1;
    grid-column-start: 2;
    margin: 0;
  }
  .hero_text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

 

  .hero_pic_desktop {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .hero_buttons {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;

    display: block;
    margin: 0;
  }
  .hero_buttons_wrapper {
    padding-block: 0.5rem;
    gap: 2rem;
  }

  .hero_section .data_bullets {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;

    display: block;
    margin: 0;
  }

  .hero_section .data_bullets_wrapper {
    gap: 1.9rem;
  }


  /* Section 1  */

  .content_wrapper {
    display: grid;
    grid-template-columns: auto;
  }

  .section_1 {
    display: grid;
    grid-template-columns: 3% 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }
  .section_1 .text_container {
    margin: 0;
    grid-column-start: 2;
    grid-row: 1/5;
    max-width: 28rem;
  }

  .section_1 .bg_pic_container {
    grid-column: 3/4;
    grid-row: 2/6;
    margin-left: 1rem;
  }

  .section_1 .section_button {
    grid-column-start: 2;
    grid-row: 5/6;
    align-self: center;
  }

  /* Section 2 */

  .section_2 {
    display: grid;
    grid-template-columns: 1fr 3% 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
  }

  .section_2 .text_container {
    grid-column-start: 3;
    grid-row-start: 1;
    margin: 0;
    margin-right: 1.4rem;
    max-width: 28rem;
  }

  .section_2 .bg_pic_container {
    grid-row: 1/3;
    margin-right: 0;
    max-width: none;
    grid-template-columns: 3fr 2rem 1fr;
    grid-template-rows:1fr 3fr 1fr;
    /* grid-template-rows: 2rem 1fr 2rem; */
  }

  .section_2 .bg_pic_container .pic {
    grid-column: 1/4;
    grid-row: 2/3;
    align-self: center;
    max-width: 83%;
  }

  .section_2 .bg_pic_container .bg_grid {
    grid-column: 1/3;
    grid-row: 1/4;
  }

  .section_2 .section_button {
    grid-column-start: 3;
    margin-top: 1rem;
    justify-self: end;
    margin-right: 1.4rem;
  }

  .section_3 {
    display: grid;
    grid-template-columns: 3% 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
  }

  .bullets {
    grid-column-start: 2;
  }

  .bullets h3 {
    margin-left: 0;
  }

  .data_bullets {
    margin-bottom: 3rem;
  }

  .section_3 .data_bullet_container {
    margin-inline: 0;
  }
  .bullets .section_button {
    display: grid;
    justify-content: center;
  }
}
/************************************************************* Desktop styling ******************************************************/

@media (min-width: 1000px) {
  .hero_section .bg_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 4/6;
  }
  .hero_test {
    display: block;
  }

  .hero_test {
    display: block;
  }
  .hero_test {
    display: block;
  }

  .hero_test {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1 / 6;
    z-index: 1;
    align-self: end;
    max-width: 19rem;
    justify-self: center;
  }

  .hero_section .bg_grid {
    grid-row: 1 / 5;
  }

  /* Hero section */

  .hero_text h1 {
    line-height: unset;
    max-width: 84%;
  }

  .hero_text h4 {
    max-width: 66%;
  }
  .hero_section {
    display: grid;
    grid-template-columns: 3% 3fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  .hero_top_content {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: unset;
    margin-top: 3rem;
  }
  .hero_text {
    display: unset;
  }

  .hero_buttons {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    align-self: center;
  }
  .hero_section .data_bullets {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .hero_pic_desktop {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  /* Section 1 */

  .section_1 {
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr;
  }

  .section_1 .text_container {
    margin: 0;
    max-width: 38rem;
    grid-row: 1/3;
  }
  .section_1 .bg_pic_container {
    grid-row: 1/6;
    margin-left: 0;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 2fr;
  }

  iframe {
    height: 100%;
  }

  /* Section 2 */

  .section_2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
  }

  .section_2 .text_container {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    margin: 0;
  }

  .section_2 .pic {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: 0;
  }

  .section_2 .section_button {
    grid-column-start: 3;
    margin-top: 1rem;
    justify-self: center;
    margin-left: 21rem;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
  }

  .section_2 .pic img {
    height: auto;
    width: 100%;
  }

  /* section 3 */

  .section_3 {
    display: grid;
    grid-template-columns: 3% 1fr 3%;
  }
  .data_bullets {
    display: flex;
    gap: 5rem;
  }
}
