/*Fonts*/

/* Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

/* Open sans font */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

/************************************************************* Root CSS ****************************************************************************/

:root {
  /* Global colors */
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #003585;
  --blue: #0044ab;
  --light-gray: #757575;
  --dark-gray: #555555;
  --light-blue: #1b52a7;

  /* Component-specific colors */
  --header-color: var(--black);
  --header-highlight-color: var(--blue);
  --subheader-color: var(--light-gray);
  --paragraph-primary-color: var(--dark-gray);
  --paragraph-secondary-color: var(--white);

  --numbers-highlight-color: var(--light-blue);

  --body-color: var(--white);

  --btn-primary-background-color: var(--dark-blue);
  --btn-secondary-background-color: var(--white);
  --btn-white-background-color: none;

  /* Font-weight */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Shadows */

  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  /*Font-sizes*/
  /* version 1 - dont delete */
  /* --font-size-sm: clamp(0.8rem, -0.01vw + 0.8rem, 0.8rem);
--font-size-base: clamp(1rem, 0.11vw + 0.97rem, 1.06rem);
--font-size-md: clamp(1.25rem, 0.3vw + 1.17rem, 1.42rem);
--font-size-lg: clamp(1.56rem, 0.59vw + 1.41rem, 1.89rem);
--font-size-xl: clamp(1.95rem, 1.02vw + 1.7rem, 2.52rem);
--font-size-xxl: clamp(2.44rem, 1.66vw + 2.03rem, 3.35rem);
--font-size-xxxl: clamp(3.05rem, 2.58vw + 2.41rem, 4.47rem); */

  /* version 2 - don´t delete */
  /* --font-size-sm: clamp(0.8rem, -0.09vw + 0.82rem, 0.75rem);
--font-size-base: clamp(1rem, 0vw + 1rem, 1rem);
--font-size-md: clamp(1.25rem, 0.15vw + 1.21rem, 1.33rem);
--font-size-lg: clamp(1.56rem, 0.39vw + 1.47rem, 1.78rem);
--font-size-xl: clamp(1.95rem, 0.76vw + 1.76rem, 2.37rem);
--font-size-xxl: clamp(2.44rem, 1.3vw + 2.12rem, 3.16rem);
--font-size-xxxl: clamp(3.05rem, 2.1vw + 2.53rem, 4.21rem); */

  /* version 3 - don´t delete */
  /* --font-size-sm: clamp(0.5rem, 0.45vw + 0.39rem, 0.75rem);
--font-size-base: clamp(0.63rem, 0.68vw + 0.45rem, 1rem);
--font-size-md: clamp(0.78rem, 1vw + 0.53rem, 1.33rem);
--font-size-lg: clamp(0.98rem, 1.46vw + 0.61rem, 1.78rem);
--font-size-xl: clamp(1.22rem, 2.09vw + 0.7rem, 2.37rem);
--font-size-xxl: clamp(1.53rem, 2.97vw + 0.78rem, 3.16rem);
--font-size-xxxl: clamp(1.91rem, 4.18vw + 0.86rem, 4.21rem); */

  /* --font-size-sm: clamp(0.6rem, 0.52vw + 0.47rem, 0.8rem);
--font-size-base: clamp(0.75rem, 0.66vw + 0.59rem, 1rem);
--font-size-md: clamp(0.94rem, 0.82vw + 0.74rem, 1.25rem);
--font-size-lg: clamp(1.17rem, 1.02vw + 0.92rem, 1.56rem);
--font-size-xl: clamp(1.46rem, 1.28vw + 1.15rem, 1.95rem);
--font-size-xxl: clamp(1.83rem, 1.6vw + 1.44rem, 2.44rem);
--font-size-xxxl: clamp(2.29rem, 2vw + 1.8rem, 3.05rem); */

  --font-size-sm: clamp(0.7rem, 0.52vw + 0.57rem, 0.9rem);
  --font-size-base: clamp(0.88rem, 0.66vw + 0.72rem, 1.13rem);
  --font-size-md: clamp(1.09rem, 0.82vw + 0.89rem, 1.41rem);
  --font-size-lg: clamp(1.37rem, 1.02vw + 1.12rem, 1.76rem);
  --font-size-xl: clamp(1.71rem, 1.28vw + 1.4rem, 2.2rem);
  --font-size-xxl: clamp(2.14rem, 1.6vw + 1.75rem, 2.75rem);
  --font-size-xxxl: clamp(2.67rem, 2vw + 2.18rem, 3.43rem);

  /*Letter spacing */
  --letter-spacing-lg: 0.15em;
  --letter-spacing-md: 0.1em;
  --letter-spacing-sm: 0.08em;
  /*Spacing*/
  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 0.75rem;
  --spacing-5: 1rem;
  --spacing-6: 1.15rem;
  --spacing-7: 2rem;
  --spacing-8: 2.5rem;
  --spacing-9: 3rem;
  --spacing-10: 4rem;
  --spacing-11: 5rem;
  --spacing-12: 6rem;
  --spacing-13: 10rem;
  --spacing-14: 120rem;
  /*Borders*/
  --border-white-thin: 2px solid var(--white);
  --border-blue-thin: 2px solid var(--dark-blue);
}

/* -- Root slut -- */

/** -- General styling -- **/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
} */

/* body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  height: -webkit-fill-available;
  color: var(--color-black-500);
  background-color: var(--color-white-100);
} */

/* a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  box-shadow: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
} */

/* font rules */
h1 {
  font-family: "montserrat", serif;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-medium);
  color: var(--header);
  line-height: 2.2rem;
  letter-spacing: var(--letter-spacing-md);
}

h2 {
  font-family: "montserrat", serif;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  color: var(--header-color);
}

h3 {
  font-family: "montserrat", serif;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  color: var(--header-color);
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  color: var(--subheader-color);
}

h5 {
  font-family: "montserrat", serif;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--subheader-color);
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--paragraph-primary-color);
}

a {
  font-family: "montserrat", serif;
  font-size: var(--font-size-ba);
}

.section {
  margin-bottom: var(--spacing-7);
}

.section {
  margin-bottom: var(--spacing-7);
}

/** -- Komponenter -- **/

.bth_box {
  width: auto;
  padding-block: var(--spacing-7);
  padding-inline: var(--spacing-9);
}
.bth_box_W {
  background-color: var(--dark-gray);
  width: auto;
  padding-block: var(--spacing-7);
  padding-inline: var(--spacing-9);
}

.btn_primary {
  background-color: var(--btn-primary-background-color);
  border: none;
  color: var(--white);
  width: 8rem;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-3);
  font-size: var(--font-size-base);
  font-family: "montserrat", serif;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_secondary {
  background-color: var(--btn-white-background-color);
  border: var(--border-blue-thin);
  color: var(--btn-primary-background-color);
  width: 8rem;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-3);
  font-size: var(--font-size-base);
  font-family: "montserrat", serif;
  font-weight: var(--font-weight-medium);

  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_white {
  background-color: var(--btn-white-background-color);
  border: var(--border-white-thin);
  color: var(--white);
  width: 8rem;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-3);
  font-size: var(--font-size-base);
  font-family: "montserrat", serif;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_header_primary {
  background-color: var(--btn-primary-background-color);
  border: none;
  color: var(--white);
  width: 6rem;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-3);
  font-size: var(--font-size-sm);
  font-family: "montserrat", serif;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_header_secondary {
  background-color: var(--btn-white-background-color);
  border: var(--border-blue-thin);
  color: var(--btn-primary-background-color);
  width: 6rem;
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-3);
  font-size: var(--font-size-sm);
  font-family: "montserrat", serif;
  font-weight: var(--font-weight-medium);

  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

/* bg blob styling + animation */

.blobs {
  opacity: 98%;
  width: 100%;
  height: 100%;
  background: rgb(6, 41, 96);
  background-color: radial-gradient(circle, rgba(6, 41, 96, 1) 0%, rgba(18, 35, 68, 1) 30%, rgba(12, 23, 44, 0.9892156691778273) 100%);
  margin: auto;
  overflow: hidden;
  animation: demonstration 10s linear infinite;
  border-radius: 25px 0 0 25px;
}

.blobs {
  background-image: url(/img/noise.png);
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
}

.blob {
  background: #013585;
  border-radius: 100%;
}

.big-blob {
  width: 83%;
  height: 14%;
  opacity: 0.6;
  background: #1400ff;
  margin-left: 8rem;
  rotate: 90deg;
  filter: blur(10vw) contrast(1);
}

@keyframes big-blob {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
.big-blob {
  animation: big-blob ease-in-out 10s infinite alternate;
}

@keyframes blob-anim-1 {
  from {
    transform: rotate(0deg) translateY(100px);
  }
  to {
    transform: rotate(360deg) translateY(100px);
  }
}
.blob:nth-child(2) {
  animation: blob-anim-2 ease-in-out 10s infinite alternate;
  width: 31%;
  height: 20%;
  margin-left: 9rem;
  filter: blur(10vw) contrast(1);
}

@keyframes blob-anim-2 {
  from {
    transform: rotate(0deg) translateX(100px);
  }
  to {
    transform: rotate(360deg) translateX(200px);
  }
}
.blob:nth-child(2) {
  width: 31%;
  height: 20%;
  background-color: blue;
  filter: blur(10vw) contrast(1);
}

@keyframes blob-anim-3 {
  0% {
    transform: translateY(0px) translateX(30px);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-200px) translateX(100px);
    opacity: 1;
  }

  75% {
    transform: translateY(-250px) translateX(-50px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) translateX(30px);
    opacity: 0.8;
  }
}
.blob:nth-child(3) {
  animation: blob-anim-3 ease-in-out 9s infinite alternate;
  background: #1400ff;
  width: 20%;
  height: 40%;
  filter: blur(10vw) contrast(1);
}
@keyframes blob-anim-4 {
  0% {
    transform: translateX(50px) rotate(90deg);
    width: 70%;
    height: 20%;
  }
  100% {
    transform: translateY(50px) rotate(180deg);
  }
}
.blob:nth-child(4) {
  animation: blob-anim-4 ease-in-out 6s infinite alternate;
  background: #1400ff;
  width: 53%;
  height: 6%;
  filter: blur(10vw) contrast(1);
}
@keyframes blob-anim-5 {
  0% {
    transform: translate(18vw, 4vw);
  }
  25% {
    transform: translate(11vw, -4vw);
  }
  50% {
    transform: translate(2vw, 1vw);
  }
  100% {
    transform: translate(-5vw, 4vw);
  }
}
.blob:nth-child(5) {
  animation: blob-anim-5 ease-in-out 9s infinite alternate;
  width: 20%;
  height: 11%;
  margin-top: -17rem;
  background: #1400ff;
  filter: blur(10vw) contrast(1);
}
@keyframes blob-anim-6 {
  0% {
    transform: translate(27vw, 11vw);
    width: 50%;
    height: 20%;
  }
  25% {
    transform: translate(7vw, -12vw);
  }
  50% {
    transform: translate(9vw, 7vw);
  }
  100% {
    transform: translate(-4vw, 11vw);
  }
}
.blob:nth-child(6) {
  animation: blob-anim-6 ease-in-out 8s infinite alternate;
  width: 41%;
  height: 20%;
  filter: blur(10vw) contrast(1);
}

/* -- General styling slut -- */

/* -- Header -- */

.header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 100;
  margin: 0 auto;
  box-shadow: 0px 3px 8px 1px rgba(0, 63, 133, 0.31);
  background-color: var(--white);
  list-style: none;
  list-style-type: none;
}

.container {
  height: auto;
}

.btn_container {
  display: flex;
  gap: 2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 2rem;
  width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
}

.menu-item {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  font-family: "montserrat", serif;
}
.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  font-family: inherit;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: inherit;
  cursor: pointer;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}
.menu-link > i.bx {
  font-size: 1.35rem;
  line-height: 1.5;
  color: inherit;
  padding-bottom: 0.6rem;
}

.menu-link:hover {
  outline: none;
  color: var(--dark-blue);
}

.bx-chevron-down:before {
  content: "\2304";
}

.logo_container {
  width: 6rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container img {
  width: 5rem;
  height: 2.5rem;
}

.submenu {
  position: absolute;
  top: 2.35rem;
  left: -2rem;
  min-width: 13rem;
  height: auto;
  padding: 0 1rem 1rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 2px solid var(--dark-blue);
  box-shadow: var(--shadow-medium);
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}
.submenu-item {
  display: block;
  margin-top: 0.75rem;
  font-size: var(--font-size-base);
}
.submenu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  color: var(--black);
  transition: all 0.35s ease;
}
.submenu-link:hover {
  outline: none;
  color: var(--dark-blue);
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1.75rem;
  height: 1rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}
.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border: none;
  outline: none;
  background: var(--black);
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
}
.burger-line:nth-child(3) {
  top: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
}

/* -- Header slut -- */

/* -- Footer  -- */

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  /* background-color: rgb(11, 10, 10); */

  /* padding: 0 2rem;
  padding-bottom: 7rem; */
}

footer .bg_grid {
  grid-column: 1/2;
  grid-row: 1/5;
  z-index: -1;
  display: block;
}

footer .bg_grid .blobs {
  border-radius: 0;
}
#footer_column_grid {
  display: grid;
  justify-content: center;
  padding: 0 2rem;
  /* padding-bottom: 7rem; */

  grid-column: 1/2;
  grid-row: 1/2;
}

#footer_bottom_grid {
  grid-column: 1/2;
  grid-row: 2/3;
}

hr {
  grid-column: 1/2;
  grid-row: 3/4;
}
.footer_bottom_p {
  grid-column: 1/2;
  grid-row: 4/5;
}
footer img {
  width: 100%;
  height: 100%;
}

footer h3 {
  color: var(--white);
  text-align: center;
  font-size: 1.3rem;
  font-weight: var(--font-weight-semibold);
}

footer p {
  color: var(--white);
}

#footer_contact {
  padding-top: 2rem;
}

#footer_contact li {
  list-style-type: none;
  margin: 1rem 0;
}

#footer_contact li a {
  color: var(--white);
  text-decoration: none;
}

#footer-form {
  margin-top: 2rem;
}

#footer-form p {
  margin-top: 0.65rem;
}

#footer-input {
  margin-top: 1rem;
}

#footer-input > label {
  color: var(--white);
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-size-sm);
}

[type="checkbox"] {
  vertical-align: middle;
  margin-right: 0.5rem;
  background: transparent;
}

.input_container {
  margin-top: 1rem;
}
.input_container input {
  border: 1px solid var(--white);
  border-radius: 3px;
  height: 2rem;
  padding-left: 10px;
  min-width: 140px;
  max-width: 200px;
  background: transparent;
  color: #fff;
  font-size: 0.8rem;
}

.input_container button {
  border: 1px solid var(--white);
  border-radius: 3px;
  height: 2rem;
  background: transparent;
  width: 95px;
  margin-left: 0.3rem;
  color: var(--white);
  font-size: 0.8rem;
}

#try_weply {
  margin-top: 2rem;
}

#try_weply ul {
  margin-top: 1rem;
}

#try_weply li {
  list-style-type: none;
  margin: 0.5rem 0;
}

#try_weply li a {
  color: #fff;
  text-decoration: none;
}

#member_of {
  padding: 2rem 0;
}

.member_img_container img {
  max-width: 6rem;
  max-height: 6rem;
}

.member_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
}

.social_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.social_img_container img {
  max-width: 2rem;
  max-height: 2rem;
}

footer hr {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

#member_of p:last-child {
  font-size: 0.85rem;
  text-align: center;
}
.footer_bottom_p {
  text-align: center;
  margin-bottom: 6rem;
}
/* -- Footer  slut -- */

/* Media@ regler */

/* -- Header styling -- */
@media only screen and (max-width: 830px) {
  .menu-item a {
    height: 4rem;
  }

  .btn_container {
    display: none;
  }

  .wrapper {
    justify-content: space-evenly;
  }

  .overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .nav {
    display: flex;
    align-items: baseline;
  }

  .submenu {
    position: relative;
    top: -0.5rem;
    left: 2.5rem;
    width: 100%;
    max-height: 0;
    padding: 0px;
    border: none;
    outline: none;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
    transform: translateY(0px);
    box-shadow: none;
    background: transparent;
    z-index: 10;
  }

  .menu {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
  .menu-item {
    display: block;
    margin: 0 auto;
  }
  .menu-link {
    justify-content: space-between;
    padding: 0.5rem 1.25rem;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: var(--shadow-medium);
    background-color: var(--white);
    transition: all 0.5s ease;
  }
  .navbar.active {
    left: 0rem;
    opacity: 1;
    visibility: visible;
  }

  .moible_btn_container {
    order: -1;
  }
}
/* -- Header slut -- */

/* tablet   */

@media (min-width: 830px) {
  h1 {
    line-height: unset;
  }

  .section {
    margin-bottom: 4rem;
  }

  .btn_container {
    display: flex;
  }

  .header {
    top: 0;
    position: inherit;
  }

  .menu-dropdown:hover > .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 10;
  }

  .menu-link,
  .menu-item {
    font-size: var(--font-size-base);
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  .moible_btn_container {
    display: none;
  }

  /* Footer styling */

  #footer_column_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  footer h3 {
    text-align: left;
  }

  .member_img_container {
    justify-content: left;
  }

  #footer-form {
    order: -1;
  }

  #footer_column_grid > article {
    margin-inline: auto;
  }

  #footer_bottom_grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer_bottom_p {
    margin-bottom: 2rem;
  }
}

/* desktop */

@media (min-width: 1000px) {
  .section {
    margin-bottom: 6rem;
  }
}

/************************************************************* General slut ****************************************************************************/
