h1 {
  text-align: center;
  margin-block: 1rem;
}

main {
  margin-block: 2rem;
  margin-inline: 3%;
}

#content_wrapper {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

#bullets {
  width: fit-content;
}

#signup_form {
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
}

#signup_form h3 {
  text-align: center;
}

#signup_form p {
  text-align: left;
  padding: 2.2rem 0.4rem;
}

.field_container {
  position: relative;
  margin-bottom: 1.4rem;
}

.floating-input {
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--light-gray);
}

.floating-input:focus {
  outline: none;
  border-bottom: 1px solid var(--dark-blue);
}

.field_container > label {
  color: var(--black);
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label,
.floating-input:not(:placeholder-shown) ~ label {
  top: -13px;
  font-size: 14px;
  color: var(--dark-blue);
}

.floating-input:focus,
.floating-input:not(:placeholder-shown) {
  border-bottom: 1px solid var(--dark-blue);
}

#form-phone-section {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  gap: 2rem;
}

.checkbox {
  margin: 1rem 0;
  display: block;
  font-size: 0.9rem;
}

.checkbox:hover {
  cursor: pointer;
}

[type="checkbox"] {
  vertical-align: middle;
  margin-right: 0.5rem;
}

[type="checkbox"]:hover {
  cursor: pointer;
}

/* ____ Bullets section _______ */

#bullets_section {
  margin: 0 0.3rem;
}

.bullet {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.bullet img {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
}

.bullet h4 {
  font-weight: var(--font-weight-semibold);
  color: var(--black);
}

.trustpilot_container > img {
  max-width: 7rem;
}

.trustpilot_container {
  margin-top: 2rem;
}

@media (min-width: 800px) {
  #content_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center;
    justify-content: center; */
  }

  .bullet {
    margin: 2rem 0;
  }

  #signup_form {
    min-width: 420px;
    max-width: 100%;
    padding: 30px;
  }
}
